.page_container{
	margin:0px 0px 50px 0px;
}

#page_content p{
	max-width:640px;
}

p.page_info{
	clear:both;
	color:gray;
	font-size:11px;
	margin-bottom:-5px;
}

.page_sibling{
	margin:20px;
	text-align:center;
}

.page_tag_content{
	min-height:120px;
}

.page_image_container{
	width:100px;
	padding-top:5px;
	float:left;
}

.page_content_container{
	width:540px;
	float:left;
}
