# Use PHP5 Single php.ini as default
AddHandler application/x-httpd-php5s .php

<Files ~ "\.(inc|tpl)$">
  order allow,deny
  deny from all
</Files>

Options -Indexes

<ifmodule mod_rewrite.c>
	RewriteEngine On
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(.*)$ index.php?/$1 [QSA,L]
</ifmodule>
