.poll_result{
	width:85%;
	margin:25px 0px;
}

.poll_info{
	color:gray;
	font-size:11px;
	margin-bottom:-5px;
}

.poll_choise{
	display:block;
	padding:2px;
	height:10px;
	background:#666;
}

.poll_choise_label{
	font-size:11px;	
	margin-top:15px;
}

.poll_embed{
	display:block;
	clear:both;
}

#poll_embed_form{
	display:none;
	text-align:left;
}
