#like_dialog{
	width:240px;
	max-height:320px;
	border:1px solid #aaa;
	overflow-x:visible;
	overflow-y:scroll;
	position:absolute;
	text-align:left;
	padding:10px;
	background:white;
	color:#333;
}

.like_avatar{
	width:48px;
	height:48px;
}
